* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

html, body {
  background: #F5F3F0;
  font-family: 'europa', 'Avenir', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

button:focus {
  outline: none;
}

h2 {
  border-bottom: 2px solid #333333;
  font-weight: 600;
  margin: 0;
}

h3 {
  color: #122BCE;
  font-weight: 600;
}

p {
  color: #666666;
}

.current {
  font-weight: 600;
}

a {
  color: inherit;
}

a:hover {
  color: #122BCE;
  text-decoration: none;
}

.tint {
  background-color: #000;
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 50;
}

.logo {
  background-image: url("../img/logo.svg");
  background-position: center center;
  background-repeat: no-repeat;
  height: 50px;
  left: 20px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  width: 50px;
  z-index: 40;
  
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.bulletin {
  color: #122BCE;
  font-size: 1.125em;
  padding-top: 15px;
  position: relative;
  margin: 2em auto 50px;
  width: 100%;
  max-width: 430px;
}

.menu {
  background: #FEFDFA;
  color: #333333;
  overflow: hidden;
  position: fixed;
  z-index: 100;
}

/* DESKTOP MENU */

.menu.hidden-xs {
  border: 2px solid #333333;
  border-bottom: 4px solid #333333;
  max-height: 220px;
  padding: 10px 15px 10px;
  right: 20px;
  top: 20px;
  width: 200px;
}

/* MOBILE MENU */

.menu.visible-xs {
  background: #FEFDFA;
  border: none;
  height: 110px;
  padding: 0 8px;
  right: -55px;
  top: -55px;
  width: 110px;
  
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.close {
  background: url("../img/x.svg");
  height: 50px;
  margin-top: -8px;
  width: 50px;
}

.menu-icon {
  background: url("../img/menu.svg");
  height: 50px;
  width: 50px;
}

.button-text {
  font-weight: 600;
  text-align: center;
  width: 100%;
}

.menu-mobile {
  background: #F5F3F0;
  left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  top: -144px;
  width: 100vw;
  z-index: 50;
}

.menu-mobile .list {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 200px;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

button.schedule {
  background: #64D164;
  border: none;
  color: #FEFDFA;
  font-weight: 400;
  height: 45px;
  width: 234px;
}

button.schedule:hover {
  opacity: 0.9;
}


@media (max-width: 767px) { 
  h2 {
    padding: 0 0 15px 0;
    text-align: center;
  }
  
  h3 {
    font-size: 1em;
    text-align: center;
  }
}

@media (min-width: 768px) { 
  h2 {
    padding: 0 0 20px 0;
    line-height: 1em;
    font-size: 2.250em;
  }
  
  h3 {
    font-size: 1.125em;
  }

  p {
    font-size: 1.125em;
    margin-top: 20px;
  }
}