@font-face {
    font-family: AuthenticSans;
    src: url(../fonts/AUTHENTIC-Sans.woff);
}

h3 {
/*  color: #888;*/
/*  color: #79D578;*/
/*  color: #197F1D;*/
  font-weight: 800;
/*  font-size: 24px;*/
  font-size: 13px;
/*  line-height: 18px;*/
  margin-top: 0;
/*  padding-bottom: 12px;*/
/*
  border-bottom: 1px solid #888;
  border-bottom: 1px solid #79D578;
  border-bottom: 1px solid #197F1D;
*/
  letter-spacing: 1px;
}

p {
  color: #666666;
}

html {
  padding: 0;
  font-family: 'AuthenticSans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  min-height: 100vh;
  position: relative;
}

body {
  margin: 0;
/*  background: #F5F3F0;*/
}

#main {
  opacity: 1;
  transition: opacity 0.2s linear;
}

header {
  background: #fff;
  width: 100%;
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px #000000 solid;
  z-index: 100;
}

header a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 18px;
  box-sizing: border-box;
}

header .wrapper .homelink-group {
  display: flex;
  align-items: center;
}

.logo {
  flex-shrink: 0;
  background-image: url("../img/logo.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40px;
  cursor: pointer;
  width: 40px;
  z-index: 40;
  
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.homelink {
  margin-left: 12px;
}

header .menu-group {
  display: flex;
  align-items: center;
}

header .menu-group .menu-option {
  margin-left: 18px;
}

header .menu-group .menu-option.not-selected a {
  color: #888;
}

header .menu-group .menu-option a:hover {
  color: #122BCE;
}

header .menu-group .menu-option.schedule a {
  background: #79D578;
  outline: 4px solid #79D578;
  color: white;
}

header .menu-group .menu-option.schedule a:hover {
  background: #ffffff;
  outline: 1px solid #79D578;
  outline-offset: 4px;
  color: #79D578;
}



#home-info {
  margin-top: 64px;
  width: 50%;
  padding: 0 18px;
  box-sizing: border-box;
/*  max-width: 400px;*/
}

#home-info section {
  padding: 48px 0;
  width: 100%;
  max-width: 360px;
  text-align: center;
}

.home-info-img-container {
  width: 100%;
  max-width: 360px;
  border-radius: 50%;
  overflow: hidden;
}

section#doctors .home-info-img-container {
  background-color: #EFAC6F;
}

section#doctors .home-info-img {
/*  margin-bottom: -20px;*/
}

section#treatments-services .home-info-img-container {
  background-color: #F5F3F0;
}

section#coverage .home-info-img-container {
  background-color: #C0CEF4;
}

.home-info-img {
  width: 100%;
  display: block;
}

#home-info p {
  margin-top: 24px;
}

#home-info a.pagelink {
  color: #122BCE;
/*  text-align: center;*/
}



#visit-info-wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  top: 0;
}

#visit-info {
  background: #ffffff;
  position: fixed;
  width: 50%;
  max-width: 480px;
  height: 100vh;
  top: 0;
  right: 0;
  right: calc((100% - 960px)/2);
  border-left: 1px #000 solid;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-end;
  padding-top: 64px;
  box-sizing: border-box;
}

#visit-info section {
  padding-top: 48px;
  padding-left: 18px;
  padding-right: 18px;
  width: 100%;
  max-width: 360px;
}

#visit-info section#contact {
  padding-top: 48px;
  padding-bottom: 24px;
}

#visit-info section#visit {
  padding-top: 24px;
  border-top: 1px solid #ddd;
/*  padding-bottom: 24px;*/
}


#visit-info .contact-options-label {
  color: #888;
  width: 72px;
  display: inline-block;
/*  margin-bottom: 4px;*/
}

#visit-info section#visit a {
  color: inherit;
}

#visit-info .map {
  margin-top: 18px;
  height: 180px;
}




.colophon {
  text-align: center;
  color: #888;
  font-size: 12px;
  max-width: 396px;
}


section.footer-spacer {
  height: 64px;
}

footer {
  background: #F5F3F0;
  width: 100%;
  height: 64px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

footer a {
  color: #888;
  text-decoration: none;
}

footer a:hover {
  color: #122BCE;
}





@media screen and (max-width: 791px) { 
  
  header .wrapper {
    width: 100%;
/*    padding: 0;*/
    max-width: 396px;
  }
  
  #home-info {
    width: 100%;
    justify-content: center;
  }
  
  #home-info section {
    margin: 0 auto;
  }
  
  header .menu-group {
    display: none;
  }
  
  #visit-info {
    position: relative;
    border-left: none;
    width: 100%;
    max-width: 480px;
    height: auto;
    right: auto;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 24px;
    padding-top: 0;
  }
  
  .colophon {
    width: 100%;
    margin: 0 auto;
  }
}









body#doctors-page {
/*
  background: #f2f2f2;
  background: #F5F3F0;
*/
}

section#doctor-profiles {
  padding: 112px 18px 0 18px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.doctor-profile {
  width: 100%;
  max-width: 360px;
  padding-bottom: 48px;
  text-align: center;
}

.doctor-profile-img-container {
  background: #ffffff;
  width: 100%;
  max-width: 240px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 18px;
  margin: 0 auto 18px;
}

.doctor-profile-img {
  width: 100%;
  display: block;
}

.doctor-profile .role {
/*  margin-left: 18px;*/
  color: #197E1C;
}

.doctor-profile a {
  color: inherit;
}





#services-list {
  padding-top: 112px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#services-list .hero-image {
  padding: 0 18px 64px 18px;
}

#services-list .hero-image img {
  width: 100%;
}

#services-list h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: inherit;
}

.services-column {
  max-width: 360px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 18px 0 18px;
}

.services-category {
  margin-bottom: 64px;
}

@media (max-width: 791px) {
  #doctor-profiles {
    width: 100%;
    max-width: 396px;
  }
  
  #services-list {
    width: 100%;
    max-width: 396px;
  }
}

